<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}" />
  </head>
  <body>
    <h1>Hello, this is index.html</h1>
    {{insert_me}}
    <br />
    <img src="{% static "images/pict.png" %}" alt="image should be here" />
  </body>
</html>
